body{
    
    background-color: #00A9D8;
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
}
/*
textarea{
    width= "400%";
}
*/
h1{
    text-decoration: underline;
}


.giveBorder{
    border: 2px solid black;
    color: #ffffcc;
    font-size: 40px;
}
h4{
    line-height: 30px;
}

.code{
    font-family: Monaco;
    background-color: #ffffff;
}

.important{
    color: red;
}

.note{
    color: greenyellow;
}

.note:before{
    content: "*";
}

.instructions{
    font-family: Monaco;
    background-color: beige;
    color: black;
}

q{
    font-family: Times New Roman;
    background-color: rgba(192, 192, 192, 0.6);
}


td{
    border: 1px solid black;
    margin: 20px;
    line-height: 40px;
    text-align: center;
}

td:hover{
    background-color: #fbeee4;
    font-weight: bold;
    /*padding: 10px;*/
}




div
{
    line-height: 10;
    margin: 30px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#test{
   /* border: 1px solid black;*/
    width: 600px;
    line-height: 20px;
    position: fixed; 

    background-color: #FF7F50;
}

#nameswag{
    font-size: 30px;
}